nav {
  width: 100%;
  top: 0;
  background-color: #1d1e1dee;
  color: var(--color-text);
  font-weight: bold;
  padding: 1em 0;
  position: fixed;
  z-index: 100;
  backdrop-filter: blur(5px);
}

h2 {
  font-size: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
}

ul {
  display: flex;
}

li {
  list-style: none;
  display: flex;
  margin: 0 0.5em;
}

a {
  text-decoration: none;
  color: var(--color-text);
}
a:hover {
  color: var(--primary-color);
  scale: 1.05;
}

.connect-link {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  font-weight: lighter;
}

.connect-link:hover {
  background-color: var(--color-text);
  color: var(--primary-dark);
}

.ham-menu {
  width: 100%;
  background-color: var(--color-bg-dark);
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ham-menu ul {
  flex-direction: column;
  padding: 1em;
  align-items: center;
}

.ham-menu li {
  margin: 0.5em 0;
}

.ham-menu-btn {
  background: none;
  border: none;
  color: var(--primary-color);
  display: none;
}

.nav-btns {
  display: flex;
  align-items: center;
}

.resume-btn {
  background-color: var(--primary-color);
  padding: 0.5em 0.6em;
  margin: 0 1em;
  border-radius: 10%;
}

.resume-btn:hover {
  background-color: var(--color-text);
}

.download-resume {
  position: relative;
  display: inline-block;
}

.hover-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 6px;
  text-align: center;
  opacity: 1;
  visibility: hidden;

  background-color: var(--color-bg-dark);
  color: var(--color-text);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;

  transition: 0.3s ease;
}

.download-resume:hover .hover-text {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1230px) {
  .nav-container {
    max-width: 90%;
  }
}

@media (max-width: 1024px) {
  nav h2 {
    font-size: 16px;
  }

  .download-resume {
    display: none;
  }
  .menu {
    display: none;
  }

  .ham-menu-btn {
    display: block;
  }
}
